<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic"><a href="https://www.flograttarola.com">Florencia Grattarola</a></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="col-8">
		<ul>
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow">
		<a class="a2a_button_twitter" data-a2a-follow="biodiversidata"></a>
		<a class="a2a_button_flickr" data-a2a-follow="biodiversidata"></a>
		</div>
		</ul>
	</div>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
  </div>
</div>